# Credenciais
.env

# Dados brutos e processados
dados_brutos/
dados_processados/

# Dashboard gerado
brasileirao_dashboard.html

# Logs
pipeline.log
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/


# OS
.DS_Store
Thumbs.db

#TXT
passos_br.txt
pipeline.txt
